.container {
  width: 800px;
  margin: 0 auto;
}

.rocket {
  font-size: 5rem;
  width: 5rem;
  transition: transform 0.5s, margin-left 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.container:hover .rocket {
  transform: rotate(45deg);
  margin-left: 700px;
}
